html {
  scroll-behavior: smooth;
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

button.dropdown-toggle::after{
    vertical-align: 2.5
}

.navbar{
    position: sticky !important;
    box-shadow: 0 0.01rem 1rem rgba(0,0,0,0.25) !important;
    top: 0;
    opacity: 1 !important;
    z-index: 5;
}

.title {
    font-weight: 400;
    font-size: 26px;
}

.view-cap, .view-container-border { background-color:black; }
.mv-daynames-table { color:white; background:black; }
.mv-event-container { border-top:1px solid black; }

@media only screen and (max-width: 767px) {
    .Rsideshadow {
        -webkit-box-shadow: inset -8px -1px 6px -8px rgba(255,20,20,0.75);
        -moz-box-shadow: inset -8px -1px 6px -8px rgba(255,20,20,0.75);
        box-shadow: inset -8px -1px 6px -8px rgba(255,20,20,0.75);
    }
}

@media only screen and (max-width: 575px) {
    .Gsideshadow {
      -webkit-box-shadow: inset -8px -1px 6px -8px rgba(36,184,22,1);
      -moz-box-shadow: inset -8px -1px 6px -8px rgba(36,184,22,1);
      box-shadow: inset -8px -1px 6px -8px rgba(36,184,22,1);
    }
    .Bsideshadow {
      -webkit-box-shadow: inset 8px -1px 6px -8px rgba(20,87,255,1);
      -moz-box-shadow: inset 8px -1px 6px -8px rgba(20,87,255,1);
      box-shadow: inset 8px -1px 6px -8px rgba(20,87,255,1);
    }
}

@media only screen and (max-width: 900px) {
  h1.autoscale {
    font-size: 246%;
  }
}

@media only screen and (min-width: 900px) {
  h1.autoscale {
    font-size: 3.75vw;
  }
}

.nodrag{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon {
    height: 75px;
    width: 75px;
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 21px;
}

.carousel-item .nodrag{
    max-height: 75vw;
    width: auto ;
}

.tricon{
    font-size: 55px;
}

.mainIcons{
    font-size: 500%;
}

.caption{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.card-img{
    transform: translate(-50%, -25%);
    left: 50%;
    top: 25%;
    position: absolute;
}

div.no-border {
    border: 0 !important;
}
